<%= turbo_stream_from "lawyer_questions" %>

<div class="sm:flex sm:items-center mt-8">
  <div class="sm:flex-auto">
    <p class="mt-2 text-sm text-gray-700">A list of all questions in the system including their title, category, and status.</p>
  </div>
</div>

<div class="-mx-4 mt-10 sm:mx-0">
  <%= turbo_frame_tag "lawyer_questions" do %>
    <ul role="list" class="space-y-4" id="lawyer-questions-list">
      <%= render partial: "lawyer/questions/question", collection: @questions %>
    </ul>
  <% end %>
</div>